name: integration-test
on:
  workflow_call:
    inputs:
      go_version:
        required: true
        type: string
        default: "1.17.6"
      region:
        required: true
        type: string
      registry_id:
        required: true
        type: string
    secrets:
      DEPLOY_PAT:
        required: true
      DEPLOY_SSH_KEY:
        required: true
jobs:
  docker-image:
    runs-on: self-hosted
    container: ${{ inputs.registry_id }}.dkr.ecr.${{ inputs.region }}.amazonaws.com/esma:stable
    steps:
      - name: Clone repo
        uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.DEPLOY_PAT }}
          ssh-key: ${{ secrets.DEPLOY_SSH_KEY }}
      - name: Build image
        run: |
          esma setup -p || true
          aws ecr get-login-password --region ${{ inputs.region }} | docker login --username AWS --password-stdin ${{ inputs.registry_id }}.dkr.ecr.${{ inputs.region }}.amazonaws.com
          esma service ecrbuild -d templates
        shell: bash
      - name: Upload packer-manifest.json
        uses: actions/upload-artifact@v2
        with:
          name: manifest
          path: packer-manifest.json
  integration-test:
    needs:
      - docker-image
    runs-on: self-hosted
    steps:
      - name: Clone repo
        uses: actions/checkout@v2
        with:
          submodules: true
          token: ${{ secrets.DEPLOY_PAT }}
          ssh-key: ${{ secrets.DEPLOY_SSH_KEY }}
      - name: Download packer-manifest.json
        uses: actions/download-artifact@v2
        with:
          name: manifest
      - name: Install go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ inputs.go_version }}
      - run: go version
      # - name: Run integration tests
      #   run: |
      #     IMAGE=$(cat packer-manifest.json |jq  '.builds[-1].artifact_id' -r) make integration-test
      #   shell: bash
      # - name: Clean up (
      #   if: ${{ failure() }}
      #   run: |
      #     make integration-test-clean
        # shell: bash
      - name: Run web integration tests
        uses: stacknowledge/circleci-trigger-action@v0.1
        with:
          id: platform-pipeline
          project: lifesum/web
          branch: master
          token: ${{ secrets.CIRCLECI_TOKEN }}
          timeout: 10
          
      - name: Clean up
        run: |
          make integration-test-clean
        shell: bash

